{% extends 'Customer/base.html' %} 
{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'css/customer/membershipRegistration.css' %}" type="text/css">
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        <br><br>
        <h1>{{ user.customer_profile_account.get }}</h1>
        <h5>Choose a Package</h5>
        <br>
        <form method="post">
            {% csrf_token %}
            <h2>Packages</h2>
            <div><!--Need a horizontal scroll or table of card views.-->
                <table>
                    {% for package in packages %}
                        <tr>
                            <th>{{ package.name }}</th>
                            <td>Duration :  {{ package.duration }} months</td>
                            <td>Price : Rs {{ package.price }}</td>
                            <td><input type="radio" name="package" id="package" value="{{ package.id }}" required></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <button type="submit">Continue</button>
        </form>
        <button><a href="/membership-registration-instructions">Back</a></button>
        <button><a href="/customer-profile">Cancel</a></button>
    {% endif %}
{% endblock %}