{% extends 'Customer/base.html' %} 
{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'css/customer/updateCustomer.css' %}" type="text/css">
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        <h1>Welcome {{ user }}</h1>
        <h2>Edit Customer Profile</h1>
        <form method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <th>Phone</th>
                    <td>
                        <input type="tel" name="mobile" id="mobile" value="{{ customer.mobile }}">
                    </td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>
                        <input type="email" name="email" id="email" value="{{ customer.account.email }}">
                    </td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>
                        <textarea name="address" id="address" cols="30" rows="10">
                            {{ customer.address }}
                        </textarea>
                    </td>
                </tr>
                <tr>
                    <th>Age</th>
                    <td>
                        <input type="number" name="age" id="age" value="{{ customer.age }}">
                    </td>
                </tr>
                <tr>
                    <th>Weight</th>
                    <td>
                        <input type="number" name="weight" id="weight" value="{{ customer.weight }}">
                    </td>
                </tr>
                <tr>
                    <th>Medical History</th>
                    <td>
                        <textarea name="medical_history" id="medical_history" cols="30" rows="10">
                            {{ customer.medical_history }}
                        </textarea>
                    </td>
                </tr>
                <tr>
                    <th>Allergies</th>
                    <td>
                        <textarea name="allergies" id="allergies" cols="30" rows="10">
                            {{ customer.allergies }}
                        </textarea>
                    </td>
                </tr>
                <tr>
                    <th>Interested Equipments</th>
                    <td>
                        <fieldset>
                            <legend>Equipments</legend>
                            {% for eq in equipment_types %}
                                <input
                                    type="checkbox"
                                    id="{{ eq }}"
                                    name="equipment"
                                    value="{{ eq }}"
                                    {% if eq in customer.equipment_interest.all %}
                                        checked
                                    {% endif %}
                                >
                                <label for="{{ eq }}">{{ eq }}</label>
                                <br>
                            {% endfor %}
                        </fieldset>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button type="submit">Update Details</button>
                    </td>
                </tr>
            </table>
        </form>
    {% endif %}
{% endblock %}