.pagebody {
	padding: 0%;
	background: linear-gradient(to bottom right, rgb(1, 255, 255), rgb(168, 7, 231));
	text-align: center;
}

h1{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
	margin: auto;
	text-align: center;
	text-decoration: white;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: white;
}

.tabla2{
	background-image: linear-gradient(45deg,#efefef 25%,rgba(239,239,239,0) 25%,rgba(239,239,239,0) 75%,#efefef 75%,#efefef),linear-gradient(45deg,#efefef 25%,rgba(239,239,239,0) 25%,rgba(239,239,239,0) 75%,#efefef 75%,#efefef);
	width: 50%;
	font-size: 25px;
	margin: auto;
	background-color:rgb(227, 238, 255);
	border-radius: 40px;
	border-color: 1px  black;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

th{
	padding: 20px;
}

td {
    text-align: center;
    padding-right: 10px;
}

button{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	border-radius: 20px;
	background-color: rgb(255, 0, 0);
	font-weight: bold;
	border-color: none;
	color:white;
	padding: 10px;
	margin: 30px;
}

.save {
	padding: 11px;
	background-color: #ff0000;
	font-size: large;
}

button a {
    text-decoration: none;
    padding: 10px;
    color: white;
    font-size: large;
}

.title{
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
}

.title::before{
	content: '';
	background: #7b1798 ;
	height:5px;
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	transform: translateY(63px);
	
}

.title::after{
	content: '';
	background: #7b1798 ;
	height:10px;
	width: 80px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px ;
	display: block;
	transform: translateY(8px);
}