body{
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 0%;
}
.vio{
    background-color: rgb(55, 80, 140);
    height: 100px;
    width: 100%;
    position: fixed;
    padding: 0%;
    z-index:1;
}
.vl{
    border-left: 1px solid rgb(255, 255, 255);
    height: 80px;
    margin-top: 10px;
    margin-left: 20px;
}
.morewidth{
    width: 200px;
}

ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul li{
    float: left;
    width: 100px;
    height: 100px;
    text-align: center;
}
ul li a{
    text-decoration: none;
    padding-top: 40px;
    color: white;
    display: block;
    font-size: larger;
    padding-bottom: 26px;
}
ul li:hover{
    background-color: brown;
}
.nohover:hover{
    background-color: rgb(55, 80, 140)
}
ul li ul li{
    background-color: rgb(204, 93, 93);
    width: 200px;
    height: 50px;
    text-align: center;
}
ul li ul li a{
    font-size: small;
    text-decoration: none;
    padding-top: 15px;
}
ul li ul{
    display: none;
    padding-top: 10px;
}
ul li:hover ul{
    display: block;
}
ul li:hover ul li{
    display: block;
}
.footer{
    background-color: rgb(59, 66, 131);
    position: fixed;
    margin-top: 90%;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    height: 200px;
    font-size: 20px;
    font-family: forte;
    color: black;
    z-index:1;
}
.footerleft{
    float: left;
    margin-left: 40px;
    margin-bottom: 0%;
    margin-top: 25px;
}
.footerright{
    float:right;
    margin-top: 25px;
    margin-right: 40px;
    margin-bottom: 0%;
}
.xyz img{
    height: 180px;
    width: 180px;
    margin-left: 27%;
}
.copyright {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(48, 48, 119);
    color: white;
    text-align: center;
    height: 40px;
    z-index:1;
  }
.copyright p{
    margin-bottom: 10px;
  }