@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body{
    margin: 0;
    padding: 0%;
    font-family: sans-serif;
    background: url('/static/img/login.jpg') no-repeat;
    /*background: url(photo9.jpg) no-repeat;*/
   /* opacity: 50%;*/
    background-size: cover;
}
.login{
    width: 300px;
position: absolute;

top: 50%;
left: 50%;
transform: translate(-50%,-50%);
color: rgb(17, 17, 1);
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.login h1{
    
    font-size: 30px;
    text-align: center;
    border-bottom: 5px solid indigo;
    border-width: 4px;
    border-radius: 1px;
    margin-bottom: 50px;
    padding: 13px 0;
}
.textbox{
    width: 100%;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid indigo;
}
.textbox input{
    border: none;
    outline: none;
    background: none;
    font-size: 20px;
    width: 200px;
    margin: 10px;
    color: black;
}


.button button{
    font-size: 30px;
    margin-top: 50px;
    background:none;
    border: 2px solid indigo; 
    text-align: center;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}