{% extends 'gymnasium/homebase.html' %}
{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'css/gymnasium/announcement.css' %}" type="text/css">
{% endblock %}

{% block body %}
    <h1>Announcements</h1>
    {% if num_announcement > 0 %}
        <table>
            <tr>
                <th>Sno</th>
                <th>Announcement</th>
            </tr>
            {% for announcement in announcements %}
                <tr>
                    <th>{{ forloop.counter }}</th>
                    <td>{{ announcement.content }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>There are no announcements at this time. Please check back later.</h2>
    {% endif %}
{% endblock %}