{% extends 'gymnasium/homebase.html' %}
{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'css/gymnasium/aquatics.css' %}" type="text/css">
{% endblock %}

{% block body %}
    <h1 class="title">Aquatics</h1>
    <div class="about">
        <table>
            <tr>
                <td><img src="{% static 'img/carousel/photo2.jpg' %}" style="width: 400px; height: 350px; margin-left: 50px;"></td>
                <td>
                    <p style="width: 700px; margin-left: 200px;">
                    The Colorado State Climbing team was started in Fall of 2012 as a way to bring climbers together and form a strong climbing community at CSU. The team began competing in USA Climbing’s Collegiate series (previously called CCS) shortly thereafter, and in the fall of 2014, they were accepted as one of the 31 official sports clubs at Colorado State University. CSU Climbing competes at the national level, and won the Rocky Mountain region for four consecutive years, placed 3rd at nationals in 2014 and are two-time national champions, winning back to back in 2015 and 2016. In 2017, the team placed 2nd in the nation.
                    Practices are held at Ascent Studio on Monday, Tuesday, and Thursday nights from 7:30-10:30 PM. The season runs from October – April, with a series of local competitions culminating in regional and national championships. Apart from competitions, the team is still focused on building and supporting the climbing community Colorado State University as well as in Fort Collins and looking for climbers of all levels, interests, and passions!
                    </p>
                </td>
                <td colspan="9"></td>
            </tr>
        </table>
    </div>
{% endblock %}