{% extends 'Manager/base.html' %} 
{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'css/common/delete.css' %}" type="text/css">
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        <br><br>
        <h2>Delete AMC Record</h2>
        <br>
        <h3>Are you sure about deleting the amc record ?</h3>
        <br>
        <form method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <th>Equipment Name :</th>
                    <td>{{ amc.equipment.name }}</td>
                </tr>
                <tr>
                    <th>Equipment Type</th>
                    <td>{{ amc.equipment.equipment_type.name }}</td>
                </tr>
                <tr>
                    <th>Start Date</th>
                    <td>{{ amc.start_date }}</td>
                </tr>
                <tr>
                    <th>Renewal Date</th>
                    <td>{{ amc.renewal_date }}</td>
                </tr>
                <tr>
                    <th>Previous Renewals Count</th>
                    <td>{{ amc.count }}</td>
                </tr>
                <tr>
                    <th>Current Price</th>
                    <td>{{ amc.price }}</td>
                </tr>
                <tr>
                    <td><button><a href="/view-all-amc">Cancel</a></button></td>
                    <td><button type="submit">Delete</button></td>
                </tr>
            </table>
        </form>
    {% endif %}
{% endblock %}