{% extends 'Manager/base.html' %} 
{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'css/common/delete.css' %}" type="text/css">
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        <h1>Welcome {{ user }}</h1>
        <h2>Delete Announcement :</h2>
        <h3>Are you sure about deleting this announcement? </h3>
        <form method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <th>Author</th>
                    <th>
                        {% if announcement.author.role == 'M' %}
                            {{ announcement.author.manager_profile_account.get.full_name }}
                        {% else %}
                            {% if announcement.author.role == 'T' %}
                                {{ announcement.author.trainer_profile_account.get.full_name }}
                            {% else %}
                                {{ announcement.author }}
                            {% endif %}
                        {% endif %}
                    </th>
                </tr>
                <tr>
                    <th>Content</th>
                    <td><p>{{ announcement.content }}</p> </td>
                </tr>
                <tr>
                    <th>Expiry</th>
                    <td>{{ announcement.expiry }}</td>
                </tr>
                <tr>
                    <td><button><a href="/view-all-announcements">Cancel</a></button></td>
                    <td><input type="submit" value="Delete"></td>
                </tr>
            </table>
        </form>
    {% endif %}
{% endblock %}