{% extends 'Manager/base.html' %} 
{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'css/user/displayIndividualUser.css' %}" type="text/css">
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        <h2>Customer Profile</h1>
        <table>
            <tr>
                <th>Username</th>
                <td>{{ customer.account.username }}</td>
            </tr>
            <tr>
                <th>Full Name</th>
                <td>{{ customer.full_name }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ customer.account.email }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ customer.mobile }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ customer.address }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ customer.gender }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ customer.age }}</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>{{ customer.weight }}</td>
            </tr>
            <tr>
                <th>Medical History</th>
                <td>{{ customer.medical_history }}</td>
            </tr>
            <tr>
                <th>Allergies</th>
                <td>{{ customer.allergies }}</td>
            </tr>
            <tr>
                <th>Membership Status</th>
                <td>{{ membership_status }}</td>
            </tr>
            {% if membership_status == 'Active' %}
                <tr>
                    <th>Gym Package</th>
                    <td>{{ customer.gym_package }}</td>
                </tr>
                <tr>
                    <th>Gym Class</th>
                    <td>{{ customer.gym_class }}</td>
                </tr>
                <tr>
                    <th>Membership Deadline</th>
                    <td>{{ membership.deadline }}</td>
                </tr>
            {% endif %}
            <tr>
                <th>Interested Equipments</th>
                <td>
                    <ul class='equipment-list'>
                        {% for eq in customer.equipment_interest.all %}
                            <li>{{ eq }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </table>
    {% endif %}
{% endblock %}