{% extends 'Manager/base.html' %} 
{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'css/user/profile.css' %}" type="text/css">
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        <br>
        <h1 class="title">Administrator Profile</h1>
        <br>
        <table>
            <tr>
                <th>Username</th>
                <td>{{ admin_user.username }}</td>
            </tr>
            <tr>
                <th>Full Name</th>
                <td>{{ admin_user.first_name }}  {{ admin_user.last_name }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ admin_user.email }}</td>
            </tr>
        </table>
        <br><br>
        <button><a href="/view-admin-list">Back</a></button>
    {% endif %}
{% endblock %}