{% extends 'Manager/base.html' %} 
{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'css/common/list.css' %}" type="text/css">
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        <br><br>
        <h1 class="title">Equipment Type List</h1>
        <br>
        {% if num_equipment_type > 0 %}
            <table>
                <tr>
                    <th>Sno</th>
                    <th>Equipment Type</th>
                    <th>Description</th>
                    <th>Equipments</th>
                </tr>
                {% for equipment_type in equipment_types %}
                    <tr>
                        <th>{{ forloop.counter }}</th>
                        <td><a href="/equipment-type/{{ equipment_type.id }}/equipment-list">{{ equipment_type.name }}</a></td>
                        <td>{{ equipment_type.description }}</td>
                        <td>
                            <ul>
                                {% for eq in equipment_type.equipments.all %}
                                    <li>{{ eq.name }}</li>
                                {% endfor %}
                                {% if forloop.counter == 1 %}
                                    <p>None</p>
                                {% endif %}
                            </ul>
                        </td>
                        <td><button><a href="/edit-equipment-type/{{ equipment_type.id }}">Edit</a></button></td>
                        <td><button><a href="/delete-equipment-type/{{ equipment_type.id }}">Delete</a></button></td>
                    </tr>
                {% endfor %}
            </table>
            <h2><button><a href="/create-equipment-type">Create new Equipment Type</a></button></h2>
        {% else %}
            <h2>There are no equipment types avalible right now <a href="/create-equipment-type">Click Here</a> to create a new one.</h2>
        {% endif %}
    {% endif %}
{% endblock %}