{% extends 'Manager/base.html' %} 
{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'css/user/displayUserList.css' %}" type="text/css">
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        <h1>Trainer List</h1>
        <table>
            <tr>
                <th>Sno</th>
                <th>User ID</th>
                <th>Name</th>
            </tr>
            {% for admin_user in admin_users %}
                <tr>
                    <th>{{ forloop.counter }}</th>
                    <td>{{ admin_user.id }}</td>
                    <td><a href="/view-admin/{{ admin_user.id }}/">{{ admin_user.first_name }} {{ admin_user.last_name }}</a></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}