{% extends 'Manager/base.html' %} 
{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'css/user/displayUserList.css' %}" type="text/css">
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        <br><br>
        <h1 class="title">Manager List</h1>
        <br>
        <table>
            <tr>
                <th>Sno</th>
                <th>User ID</th>
                <th>Name</th>
            </tr>
            {% for manager in managers %}
                <tr>
                    <th>{{ forloop.counter }}</th>
                    <td>{{ manager.account.id }}</td>
                    <td><a href="/view-manager/{{ manager.id }}/">{{ manager.full_name }}</a></td>
                </tr>
            {% endfor %}
        </table>
        <button><a href="/user-registration/M/">Create a new Manager Account</a></button>
    {% endif %}
{% endblock %}