{% extends 'Manager/base.html' %} 
{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'css/common/list.css' %}" type="text/css">
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        <br><br>
        <h1 class="title">Equipment List</h1>
        <br>
        {% if num_equipment > 0 %}
            <table>
                <tr>
                    <th>Sno</th>
                    <th>Equipment Name</th>
                    <th>Details</th>
                    <th>Equipment Type</th>
                    <th>Date Of Purchase</th>
                </tr>
                {% for equipment in equipments %}
                    <tr>
                        <th>{{ forloop.counter }}</th>
                        <td>{{ equipment.name }}</td>
                        <td>{{ equipment.detail }}</td>
                        <td><a href="/equipment-type/{{ equipment.equipment_type.id }}/equipment-list">{{ equipment.equipment_type }}</a></td>
                        <td>{{ equipment.date_of_purchase }}</td>
                        <td><button><a href="/edit-equipment/{{ equipment.id }}">Edit</a></button></td>
                        <td><button><a href="/delete-equipment/{{ equipment.id }}">Delete</a></button></td>
                    </tr>
                {% endfor %}
            </table>
            <h2><button><a href="/create-equipment">Create new Equipment</a></button></h2>
        {% else %}
            <h2>There are no equipments avalible right now <a href="/create-equipment">Click Here</a> to create a new one.</h2>
        {% endif %}
    {% endif %}
{% endblock %}