{% extends 'Manager/base.html' %} 
{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'css/common/create.css' %}" type="text/css">
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        <h1>Welcome {{ user }}</h1>
        <h2>Post Announcement</h2>
        <form method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <th>Author</th>
                    <th>
                        {% if request.user.role == 'M' %}
                            {{ request.user.manager_profile_account.get.full_name }}
                        {% else %}
                            {% if request.user.role == 'T' %}
                                {{ request.user.trainer_profile_account.get.full_name }}
                            {% else %}
                                {{ request.user }}
                            {% endif %}
                        {% endif %}
                    </th>
                </tr>
                <tr>
                    <th>Content</th>
                    <td><textarea name="content" id="content" cols="30" rows="10"></textarea></td>
                </tr>
                <tr>
                    <th>Expiry</th>
                    <td><input style="width: 15em;" type="datetime" name="expiry" id="expiry" value=""></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Submit"></td>
                </tr>
            </table>
        </form>
    {% endif %}
{% endblock %}