body{
    font-family: forte;
    margin: auto;
    padding: 0%;
    width: 100%;
}

.vio{
    background-image: linear-gradient(to right, rgb(105, 159, 221),rgb(32, 66, 139));
    height: 100px;
    width: 100%;
    position: relative;
    padding: 0%;
    z-index:1;
    overflow: visible;
}

.vl{
    border-left: 1px solid rgb(255, 255, 255);
    height: 80px;
    margin-top: 10px;
    margin-left: 20px;
}

.vio ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.vio ul li{
    float: left;
    width: 100px;
    height: 100px;
    text-align: center;
}

.vio ul li a{
    text-decoration: none;
    padding-top: 40px;
    color: white;
    display: block;
    font-size: larger;
    padding-bottom: 26px;
}

.vio ul li:hover{
    background-color: brown;
}

.vio .nohover:hover{
    background: none;
}

.vio ul li ul li{
    background-color: rgb(204, 93, 93);
    width: 200px;
    height: 50px;
    text-align: center;
}

.vio ul li a:hover{
    text-decoration: none;
    color: white;
    display: block;
}

.vio ul li ul li a{
    font-size: small;
    text-decoration: none;
    padding-top: 15px;
}

.vio ul li ul{
    display: none;
    padding-top: 6px;
}

.vio ul li:hover ul{
    display: block;
}

.vio ul li:hover ul li{
    display: block;
}

.pagebody {
    z-index: 0;
    position: relative;
    margin-bottom: 40px;
    width: 100%;
    /*height: fit-content;*/
    padding-bottom: 20px;
    min-height: 100%;
}

.footer{
    z-index: 0;
    background-image: linear-gradient(to right, rgb(105, 159, 221),rgb(32, 66, 139));
    position: relative;
    margin-bottom: 40px;
    left: 0;
    width: 100%;
    height: 180px;
    font-size: 20px;
    font-family: forte;
    color: black;
}

.footerleft{
    float: left;
    padding-left: 2%;
    padding-bottom: 0%;
    padding-top: 1%;
    width: 30%;
}

.footerright{
    float: right;
    padding-top: 2%;
    padding-bottom: 0%;
    width: 30%;
}

.footermiddle {
    float: left;
    width: 33%;
}

.footermiddle img{
    height: 180px;
    width: 200px;
    margin-left: 25%;
}

.copyright {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(48, 48, 119);
    color: white;
    text-align: center;
    height: 40px;
    z-index:1;
  }

.copyright p{
    margin-bottom: 10px;
  }

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}

/*
@media(max-width: 1190px) {
    .vio ul {
        overflow: auto;
        white-space: nowrap;
        flex-wrap: nowrap;
    }

    .vio ul li {
        display: inline;
    }
}
*/