.animation {
    border-style: solid;
    margin: auto;
    padding-top : 0px;
    z-index: 0;
}

.about {
    background-image: linear-gradient(to right, rgb(255, 255, 255),rgb(167, 126, 190));  
    font-size: 17px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-break: normal;
  }

.title {
    text-align: center;
    margin-bottom: 20px;
}

.title::before {
    content: '';
    background: #7b1798 ;
    height:5px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
    
}
.title::after {
    content: '';
    background: #7b1798 ;
    height:10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px ;
    display: block;
    transform: translateY(8px);
}
.contact {
    margin-bottom: 80px;
    overflow-x: scroll;
    white-space: nowrap;
}

.card-deck {
    overflow: scroll;
    white-space: nowrap;
    flex-wrap: nowrap;
}

.card {
    background: linear-gradient(to bottom right, rgb(1, 255, 255), rgb(168, 7, 231));
    border: 2px solid black;
    margin-left:17px;
    overflow-x: scroll;
    min-width: fit-content;
}

.card-img-top {
    margin: auto;
    margin-top:8%;
    margin-bottom:8%;
    border: 1px solid white;
}

.card-body {
    width: fit-content;
    margin: auto;
}

.contact img {
    height: 200px;
    width: 200px;
    border-radius: 2500px;
}

.cardshead {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}