<html>
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %} Gym Khaana {% endblock %}
        </title>
        {% load static %}
        <link rel="shortcut icon" href="{%  static 'img/favicon.ico' %}">
        <!--<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">-->
        <link rel="stylesheet" href="{% static 'css/gymnasium/homebase.css' %}" type="text/css">
        {% block header %} 
        
        {% endblock %}
    </head>

    <body style="margin: auto;">
        <nav class="vio">
            <ul>
                <li style="margin-top: 0px; width: fit-content;" class="nohover">
                    <a href="http://chennai.vit.ac.in/" style="padding: 5px;"><img src="{% static 'img/vitlogo1.png' %}" width="250px" height="90px"></a>
                </li>
                <li class="nohover" style="width: 2em;"></li>
                <li class="nohover" style="width: fit-content;">
                    <a href="/" style="padding: 0%;">
                        <h1 style="color: black; font-size: 35px; margin: 0em; font-family: forte; padding-top: 1em;">Gym Khaana</h1>
                    </a>
                </li>
                <li class="nohover" style="width: 3em;"></li>
                <li>
                    <a href="/trainer-profile">Profile</a>
                </li>
                <li>
                    <a href="#">Gym Class</a>
                </li>
                <li style="width: 120px;">
                    <a href="#">Notifications</a>
                    <ul>
                        <li><a href="#">Post a new Notification</a></li>
                        <li><a href="#">Edit a Notification</a></li>
                        <li><a href="#">View Posted Notifications</a></li>
                    </ul>
                </li>
                <li style="float: right;">
                    {% if user.is_authenticated %}
                        <a href="/logout">Logout</a>
                    {% endif %}
                </li>
            </ul >
        </nav>


        <div class="pagebody">
            {% block body %} 
        
            {% endblock %}
        </div>
        
        <div class="copyright">
            <p style="margin-top: 10px;">© Copyright - VIT Campus creation </p>
        </div>

    </body>
</html>