{% extends 'Trainer/base.html' %} 
{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'css/user/updateUser.css' %}" type="text/css">
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        <br>
        <h1 class="title">Welcome {{ user }}</h1>
        <br>
        <h2>Edit Trainer Profile</h2>
        <form method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <th>Full Name</th>
                    <td>
                        <input type="text" name="full_name" id="full_name" value="{{ trainer.full_name }}">
                    </td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td>
                        <input type="tel" name="mobile" id="mobile" value="{{ trainer.mobile }}">
                    </td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>
                        <input type="email" name="email" id="email" value="{{ trainer.account.email }}">
                    </td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>
                        <textarea name="address" id="address" cols="30" rows="10">
                            {{ trainer.address }}
                        </textarea>
                    </td>
                </tr>
                <tr>
                    <th>Gender</th>
                    <td>
                        <select name="gender" id="gender">
                            <option value="M" 
                                {% if trainer.gender == "M" %}
                                    selected
                                {% endif %} >
                                Male
                            </option>
                            <option value="F"
                                {% if trainer.gender == "F" %}
                                    selected
                                {% endif %}>
                                Female
                            </option>
                            <option value="O"
                                {% if trainer.gender == "O" %}
                                    selected
                                {% endif %}>
                                Other
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Age</th>
                    <td>
                        <input type="number" name="age" id="age" value="{{ trainer.age }}">
                    </td>
                </tr>
                <tr>
                    <th>Weight</th>
                    <td>
                        <input type="number" name="weight" id="weight" value="{{ trainer.weight }}">
                    </td>
                </tr>
                <tr>
                    <th>Medical History</th>
                    <td>
                        <textarea name="medical_history" id="medical_history" cols="30" rows="10">
                            {{ trainer.medical_history }}
                        </textarea>
                    </td>
                </tr>
                <br><br>
                <tr>
                    <td colspan="2"><button class="save" type="submit">Update Details</button></td>
                </tr>
            </table>
        </form>
        <br><br>
        <button><a href="/trainer-profile">Back</a></button>
    {% endif %}
{% endblock %}