<head>
    <meta charset="utf-8">
    <title>
        {% block title %} Gym Khanna {% endblock %}
    </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/gymnasium/homebase.css' %}" type="text/css">
    {% block header %} 
    
    {% endblock %}
</head>

<body style="margin: auto;">
    <nav class="vio">
        <ul>
            <li style="margin-top: 0px;" class="nohover morewidth">
                <a href="https://chennai.vit.ac.in" style="padding: 5px;"><img src="{% static 'img/vitlogo.png' %}" width="200px" height="90px"></a>
            </li>
            <li style="width: auto; margin-top: 0px;" class="nohover">
                <div class="vl" ></div>
            </li>
            <li style="margin-left: 5px;" class="nohover morewidth">
                <a href="/" ><h1 style="color: antiquewhite; size: 80px; margin-top: auto;">Gym Khanna</h1></a>
            </li>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Fitness</a>
                <ul>
                    <li><a href="">Fitness Classes</a></li>
                    <li><a href="">Personal Training</a></li>
                    <li><a href="">Become an Instructor</a></li>
                    <li><a href="">Fitness Polices</a></li>
                    <li><a href="">Safety</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Facilities</a>
                <ul>
                    <li><a href="">Hours</a></li>
                    <li><a href="">Aquatics</a></li>
                    <li><a href="">Wall Climbing</a></li>
                    <li><a href="">Lockers</a></li>
                    <li><a href="">In-House Clinics</a></li>
                </ul>
            </li>
            <li>
                <a href="">About</a>
            </li>
            <li style="float: right;">
                {% if user.is_authenticated %}
                    <a href="logout">Logout</a>
                {% else %}
                    <a href="login">Login</a>
                {% endif %}
            </li>
            {% if user.is_authenticated %}
                {% if user.is_superuser %}
                    <li style="float: right;">
                        <a href="admin">My Account</a>
                    </li>
                {% else %}
                    {% if user.isStudent %}
                        <li style="float: right;">
                            <a href="student-home">My Account</a>
                        </li>
                    {% else %}
                        {% if user.isManager %}
                            <li style="float: right;">
                                <a href="manager-home">My Account</a>
                            </li>
                        {% else %}
                            {% if user.isTrainer %}
                                <li style="float: right;">
                                    <a href="trainer-home">My Account</a>
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}
        </ul >
    </nav>

    {% block body %} 
    
    {% endblock %}


    <div class="footer">
        <div class="footerleft">
            <a><u>Contact us:</u></a>
            <br>
            <a> 9557144070</a>
            <br>
            <a>VIT University </a>
            <br>
            <a>Chennai 600203</a>
            <br>
            <a>arpitgupta455@gmail.com</a>
        </div>
        
        <div class="footerright">
            <a><u>Regular Hours</u></a>
            <br>
            <a>Monday – Friday: 6:00 AM – 11:30 PM</a>
            <br>
            <a> Saturday: 8:00 AM – 8:00 PM</a>
            <br>
            <a> Sunday: 12:00 PM – 11:30 PM</a>
        </div>
        <div class="xyz">
            <img src="{% static 'img/footer.jpg' %}">
        </div>
    </div>
    
    
    <div class="copyright">
        <p style="margin-top: 10px;">© Copyright - VIT Campus creation </p>
    </div>

</body>